.float {
  animation: floatOminously 3s ease-in-out infinite;
}

@keyframes floatOminously {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
